.form {
	&-wrap {
		padding: 10px;
	}
}
.checkboxes {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 40px; 
	
	&__label {
		position: relative;
		cursor: pointer;
	}
	&__input {
		position: absolute; 
		left: -30px;

    	&:before {
    		@include pseudo;
			width: 7px;
			height: 13px;
			top: 2px;
			left: 7px;
			border-right: 2px solid $blue;
			border-bottom: 2px solid $blue;
			transform: rotate(45deg) scale(0);
			transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
			z-index: 1;
    	}
    	&:after {
    		@include pseudo;
			width: 20px;
			height: 20px;
			background-color: #fff;
			border: 1px solid $blue;
			cursor: pointer;
    	}
    	&:checked {
		    &:before {
		    	transform: rotate(45deg) scale(1);
		    }
		 }
	    &:checked~.checkboxes__lable  {
    		&:before {
				background-color: $blue;
			}
			&:after {
				opacity: 1;
				transform: rotate(45deg) scale(1);
			}
	    }
	}

}
.form-btn {
	background: $mainBg;
	color: #fff;
	padding: 10px 25px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}
.card {
	background: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 0 0.5px 4px $blue;
	margin-bottom: 20px;

	&__header {
		padding: 15px;
		border-bottom: 1px solid $blue;

		h6 {
			font-size: 18px;
		}
	}
	&__body {
		padding: 15px;
		display: flex;
		flex-direction: column;
	}
	&__bottom {
		border-top: 1px solid $blue;
		padding: 15px;
	}
}