.panel-content {
	padding-left: 260px;
}
.panel-sidebar {
	background: $navBg;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 260px;
	.logo {
		height: 60px;
		padding-top: 10px;
		padding-left: 25px;

		img {
			height: 100%;
		}
	}
	.nav {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		&-item {
			width: 100%;
		}
		&-link {
			display: block;
			padding: 25px;
			width: 100%;
			text-align: left;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 14px;
			color: $mainPostColor;
			font-weight: 700;
			&:hover {
				background: $darkblueColor;
			}
		}
	}
}