.b-users {
    
    position: relative;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        padding: 10px 40px 10px 20px;

        &:after {
            @include pseudo;
            width: 0;
            height: 0;
            border-top: 5px solid $navBg;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            right: 10px;
        }
    }

    &__avatar {
        width: 40px;
        height: 40px;
    }
    &__nick  {
        padding-left: 15px;
        font-size: 15px;
        color: $navBg;
    }
    &__actions {
        display: block;
        position: absolute;
        right: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 5px  $navBg;
        z-index: 2;
        padding: 10px;
    }
}